.wrapper
  .chatSide
    .sideHeader
      %p.sideHeader__userName 朋子
      %ul.sideHeader__icon
        %li.sideHeader__icon__newGroup
          %a{:href => "#"}
            %i.fas.fa-edit
        %li.sideHeader__icon__userEdit
          %a{:href => "#"}
            %i.fas.fa-cog
    .sideGroups
      .group
        %p.sideGroups__group__name test
        %p.sideGropus__group__message こんにちは

  .chatMain
    .mainHeader
      .leftBox
        %p.mainHeader__leftBox__groupName test
        %ul.mainHeader__leftBox__members
          Members：
          %li.mainHeader__leftBox__members__member
            朋子
          %li.mainHeader__leftBox__members__member
            ニノ
      %button.mainHeader__btn Edit
