.wrapper
  .chatSide
    .sideHeader
      %p.sideHeader__userName 朋子
      %ul.sideHeader__icon
        %li.sideHeader__newGroup
          %a.i.fas.fa-edit
        %li.sideHeader__userEdit
          %a.i.fas.fa-cog

