@import "variable";

.chatMain {
  height: 100%;
  width: calc(100% - 300px);
  float: left;

  .mainHeader {
    clear: both;
    height: 100px;
    width: 100%;
    padding: 0 40px;
    border-bottom: solid 1px $header_bottom;

    .leftBox {
      float: left;
  
      &__groupName {
        margin-top: 35px;
        margin-bottom: 15px;
        font-size: 20px;
        color: $leftbox_groupname;
      }

      &__members {
        display: flex;
        font-size: 12px;
        margin-top: 15px;
        color: $light_gray;

        &__member {
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
        // & li {
        //   margin-left: 5px;
        // }
        &__btn {
          height: 40px;
          line-height: 40px;
          padding: 0 20px;
          margin-top: 30px;
          border: solid 1px $skyblue;
          color: $skyblue;
          float: right;
          background-color: $white;
      }
    }

  .mainMessages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: $main_background;

    .message {
      .talkerInfo {
        display: flex;
        &__userName  {
          font-size: 16px;
          color: $dark_gray;
          font-weight: bold;
        }
        &__postedTime  {
          padding-left: 10px;
          font-size: 12px;
          color: $light_gray;
        }
      }
      .lowerMessage {
        margin-top: 10px;
        &__content {
          color: $dark_gray;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }
  
  .form {
    background-color: $form_background;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
        padding-left: 10px;
      }
      &__mask {
        background-color: $white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
        }
        .hidden {
          display: none;
        }
      }
      &__submit {
        background-color: $skyblue;
        border: none;
        color: $white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
  }
  // .form {
  //   height: 90px;
  //   width: 100%;
  //   padding: 20px 40px;
  //   background-color: $form_background;
  //   position: fixed;
  //   bottom: 0;

  //   .newMessage {
  //     height: 50px;
  //     width: calc(100vw - 380px);
  //     display: flex;

  //     .inputBox {
  //       position: relative;
  //       width: 100%;

  //       &__text {
  //         height: 50px;
  //         width: 100%;
  //         padding-left: 10px;
  //         font-size: 16px;
  //         color: $darkgray;
  //       }
        
  //       &__image {
  //         position: absolute;
  //         top: 10px;
  //         right: 10px;
  //         font-size: 1.5em;
  //         cursor: pointer;

  //         #messageImage {
  //           display: none;
  //         }
  //       }
  //     }
  //   }
    
  //     .submitBtn {
  //       height: 50px;
  //       width: 130px;
  //       padding: 0 30px;
  //       margin-left: 15px;
  //       background-color: $skyblue;
  //       color: $white;
  //       cursor: pointer;
  //       float: right;
  //     }
  // }
}