.chatMain {
  height: 100%;
  width: calc(100% - 300px);
  float: left;
}

.mainHeader {
  clear: both;
  height: 100px;
  width: 100%;
  padding: 0 40px;
  border-bottom: solid 1px #eeeeee;

  .leftBox {
    float: left;
  }

    &__leftBox__groupName {
      margin-top: 35px;
      margin-bottom: 15px;
      font-size: 20px;
      color: #333333;
    }

    &__leftBox__members {
      display: flex;
      font-size: 12px;
      color: #999999;
    }

    &__leftBox__members li {
      margin-left: 5px;
    }

  &__btn {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    border: solid 1px #38aef0;
    color: #38aef0;
    float: right;
    background-color: #FFFFFF;
  }
}

.mainMessages {
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;

.message {
  padding-bottom: 40px;
}

.talkerInfo {
  // display: flex;
  margin-bottom: 10px;
}

  .talkerInfo__userName  {
    float: left;
    font-size: 16px;
    color: #434A54;
    font-weight: bold;
  }

  .talkerInfo__postedTime  {
    float: left;
    margin-top: 4px;
    margin-left: 10px;
    font-size: 12px;
    color: #999999;
  }

.message__content {
  clear: both;
  font-size: 14px;
  color: #434A54;
}
}

.form {
  height: 90px;
  width: 100%;
  padding: 20px 40px;
  background-color: #ddd;
  position: fixed;
  bottom: 0;

  .newMessage {
    height: 50px;
    width: calc(100vw - 380px);
    display: flex;

    .inputBox {
      position: relative;
      width: 100%;

      .inputBox__text {
        height: 50px;
        width: 100%;
        padding-left: 10px;
        font-size: 16px;
        color: #434A54;
      }
      .inputBox__image {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5em;
        cursor: pointer;

        #messageImage {
          display: none;
        }
      }
    }
  }
  
    .submitBtn {
      height: 50px;
      width: 130px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38AEF0;
      color: #FFFFFF;
      cursor: pointer;
      float: right;
    }
}