body, html {
  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.chatSide {
  height: 100%;
  width: 300px;
  color: $white;
  font-weight: bold;
  float: left;
  }

.sideHeader {
  height: 100px;
  width: 100%;
  background-color: $side_header_dark;
  padding: 0 20px;
  line-height: 100px;

  &__userName {
    float: left;
    font-size: 16px;
    width: 60%;
  }

  &__icons {
    width: 30%;
    float: right;

    &__icon {
      display: inline-block;
      text-decoration: none;
      letter-spacing: 10px;
    }

    .fas {
      color: $white;
    }
  }

  }

.sideGroups {
  height: calc(100vh - 100px);
  width: 100%;
  background-color: $side_groups;
  padding: 0 20px;
}

.group {
  padding: 20px 0 40px;

  &__name {
    font-size: 15px;
    margin-bottom: 5px;
  }

  &__message {
    font-size: 11px;
  }
}
