body, html {
  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.chatSide {
  height: 100%;
  width: 300px;
  color: $white;
  font-weight: bold;
  float: left;

  .sideHeader {
    height: 100px;
    width: 100%;
    background-color: $side_header_dark;
    padding: 0 20px;
    line-height: 100px;

    &__userName {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
    }
    &__icons {
      display: inline-block;
      float: right;
      &__icon {
        display: inline-block;
        .fa {
          color: $white;
          font-size: 16px;
        }
      }
    }
  }

  .sideGroups {
    height: calc(100vh - 100px);
    width: 100%;
    background-color: $side_groups;
    padding: 0 20px;

    .group {
      padding: 20px 0 40px;

      .sideGroups__group__name {
        font-size: 15px;
        margin-bottom: 5px;
        color:$white;
      }

      .sideGropus__group__message {
        font-size: 11px;
        color:$white;
      }
    }
  }
}