body, html {
  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.chatSide {
  height: 100%;
  width: 300px;
  color: #FFFFFF;
  font-weight: bold;
  float: left;
  }

.sideHeader {
  height: 100px;
  width: 100%;
  background-color: #253141;
  padding: 0 20px;
  line-height: 100px;

  &__userName {
    float: left;
    font-size: 16px;
    width: 60%;
  }

  &__icon {
    text-align: right;
  }

  &__icon li {
    display: inline-block;
    text-decoration: none;
  }

  }

.sideGroups {
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #2f3e51;
  padding: 0 20px;
}

.group {
  padding: 20px 0 40px;

  &__name {
    font-size: 15px;
    margin-bottom: 5px;
  }

  &__message {
    font-size: 11px;
  }
}
