$white: #FFFFFF;
$header_bottom: #eeeeee;
$leftbox_groupname: #333333;
$leftbox_members: #999999;
$skyblue: #38aef0;
$main_background: #fafafa;
$darkgray: #434A54;
$form_background: #ddd;
$side_header_dark: #253141;
$side_groups: #2f3e51;
$alert_orange: #F35500;
