$white: #FFFFFF;
$headerbottom: #eeeeee;
$leftboxgroupname: #333333;
$leftboxmembers: #999999;
$skyblue: #38aef0;
$mainbackground: #fafafa;
$darkgray: #434A54;
$formbackground: #ddd;
$sideheaderbackground: #253141;
$sidegroups: #2f3e51;
